body {
	background-color: #6D7070;
}

button {
	width: 97px;
	height: 40px;
}

button.google {
	background-color: white;
	background-image: url(images/button-google.png);
}

button.yahoo {
	background-color: white;
	background-image: url(images/button-yahoo.png);
}

.center {
	margin-right: auto;
	margin-left: auto;
}